  

<div class="container-fluid col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pt-auto "style="padding-top: 20%;" >
  <div class="input-group pt-5">
       <input type="text" id="pac-input" class="search-input form-control text-center" placeholder="Your Address..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Address...'" style="padding-top: 30px; padding-bottom: 30px;">
    </input>
    <span class="input-group-btn">
    <button class="search-btn btn btn-warning " style="padding-top: 18px; padding-bottom: 18px; padding-right: 30px; text-align: center;"><span style="margin-left: 20px"><b>Search</b></span>
      </button>
      </span>
    </div>
  </div>

              
            <div >
                Latitude : <span id="lat"></span><br />
                Longitude : <span id="lng"></span>
            </div>
     