<div class="bg">
  <div class="base">
  <div class="tree">
    <div class="left">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="right"></div>
  </div>
  <div class="chimney">
    <span></span>
    <span></span>
  </div>
  <div class="house">
    <div class="left">
      <div class="wall"></div>
      <div class="window"></div>
      <div class="angled"></div>
      <div class="top"></div>
      <div class="shadow">
        <div class="top"></div>
      </div>
    </div>
    <div class="right">
      <div class="wall">
        <div class="pole-shadow">
          <div class="real-shadow">
            <div class="cut"></div>
          </div>
        </div>
        <div class="door">
          <div class="inset">
            <div class="window"></div>
          </div>
        </div>
        <div class="window L">
          <div class="shadow-box">
            <div class="real-shadow"></div>
          </div>
          <div class="cut"></div>
          <div class="shine">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="window R">
          <div class="shine">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="angled"></div>
      <div class="top"></div>
      <div class="shadow">
        <div class="top"></div>
      </div>
    </div>
  </div>
  <div class="pole"></div>
</div>
</div>
  <div class="base2">
    </div>
  <div class="mountain">
    <div class="mountain-top">
      <div class="mountain-cap-1"></div>
      <div class="mountain-cap-2"></div>
      <div class="mountain-cap-3"></div>
    </div>
  </div>
  



  

<div class="container-fluid col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pt-auto "style="padding-top: 20%;" >
  <div class="input-group pt-5">
       <input type="text" id="pac-input" class="search-input form-control text-center" placeholder="Your Address..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Address...'" style="padding-top: 30px; padding-bottom: 30px;">
    </input>
    <span class="input-group-btn">
    <button class="search-btn btn btn-warning " style="padding-top: 18px; padding-bottom: 18px; padding-right: 30px; text-align: center;"><span style="margin-left: 20px"><b>Search</b></span>
      </button>
      </span>
    </div>
  </div>

              
            <div >
                Latitude : <span id="lat"></span><br />
                Longitude : <span id="lng"></span>
            </div>
     